/target/
.idea/
.settings/
.vscode/
.idea
.vscode
build
.gradle
.DS_Store
/libs/
bin
/.idea/
/.vscode/
.idea/workspace.xml
*.class
out/production/resources/config.yml
out/production/resources/fares.yml
out/production/resources/lang.yml
out/production/resources/owners.yml
out/production/resources/plugin.yml
out/production/resources/records.yml
.idea/workspace.xml
.idea/workspace.xml
